@import "vars.less";

.jwplayer .jwcontrolbar {
	position:absolute;
	margin: 0 auto;
	height: @controlbar-height;
	-webkit-transition:opacity .25s background .25s visibility .25s;
	transition:opacity .25s background .25s visibility .25s;
	left: @ui-margin;
	right: @ui-margin;
	bottom: @ui-margin;

	background: @def-background-style;
	background-size: 100% 100%;
	left: @ui-margin;
	right: @ui-margin;
	bottom: @ui-margin;
	max-width: @max-width;

	padding: 0 @ui-padding;
	border-radius: @ui-corner-round;
}

span.jwcontrolbar span {
height:100%;
-webkit-user-select:none;
-webkit-user-drag:none;
}

span.jwcontrolbar .jwgroup {
display:table-cell;
}

// control bar content (icons/text)
.jwcontrolbar .jwgroup > span {
	padding: 0 0.20em;
	display: inline-block;
	font-size:1em;
	line-height: @controlbar-height;
	height: @controlbar-height;
}

.jwplayer .jwcontrols .jwicon button {
	color: @inactive-color;
}

span.jwcontrolbar span,span.jwcontrolbar .jwgroup button,span.jwcontrolbar .jwleft {
	position:relative;
	float:left;
}

span.jwcontrolbar .jwright {
	position:relative;
	float:right;
}

span.jwcontrolbar .jwcenter {
position:absolute;
}

span.jwcontrolbar button {
display:inline-block;
height:100%;
cursor:pointer;
-webkit-transition:opacity .25s background .25s visibility .25s;
transition:opacity .25s background .25s visibility .25s;
}

span.jwcontrolbar .jwtime {
position:absolute;
height:100%;
width:100%;
left:0;
height: @inactive-color;
}



span.jwcontrolbar .jwdivider + .jwdivider {
display:none;
}

span.jwcontrolbar .jwtext {
	color:@font-color;

	text-align:center;
	font-style:normal;
	font-variant:normal;
	font-stretch:normal;
	font-family:Arial, sans-serif;
	font-weight:normal;
}

span.jwcontrolbar .jwcast {
display:none;
}

span.jwcontrolbar .jwcast.jwcancast {
display:block;
}

span.jwcontrolbar .jwalt {
display:none;
overflow:hidden;
position:absolute!important;
left:0!important;
right:0!important;
text-align:left!important;
}

span.jwcontrolbar .jwtoggling {
-webkit-transition:none;
transition:none;
}

#container_controlbar_timetooltip .jwcontents * {
color:rgb(172,172,172);
font-style:normal;
font-variant:normal;
font-weight:normal;
font-stretch:normal;
font-size:11px;
line-height:normal;
font-family:Arial, Helvetica, sans-serif;
}
