.jwdisplay {
position:absolute;
width:100%;
height:100%;
overflow:hidden;
}

.jwdisplay .jwpreview {
position:absolute;
width:100%;
height:100%;
overflow:hidden;
opacity:0;
background:50% 50% no-repeat rgb(0,0,0);
}

.jwdisplay,.jwdisplay * {
-webkit-transition:opacity .25s color .25s;
transition:opacity .25s color .25s;
}

.jwplayer .jwdisplayIcon {
display:table;
position:relative;
margin-left:auto;
margin-right:auto;
top:50%;
float:none;
}

.jwplayer .jwdisplayIcon div {
position:relative;
display:table-cell;
vertical-align:middle!important;
background-position:50% 50%;
background-repeat:no-repeat;
}

.jwplayer .jwdisplayIcon .jwtext {
color:rgb(255,255,255);
padding:0 1px;
max-width:300px;
overflow-y:hidden;
text-align:center;
-webkit-user-select:none;
}


#container_display_button {
padding:0 18px;
height:52px;
margin-top:-26px;
background-position:0 50% 50% 50% 100% 50%;
background-repeat:no-repeat;
}

.jw-tab-focus #container_display_button,#container .jwdisplay:hover #container_display_button {
padding:0 18px;
height:52px;
margin-top:-26px;

background-position:0 50% 50% 50% 100% 50%;
background-repeat:no-repeat;
}

#container .jwdisplay #container_display_button_play {
width:36px;
float:none;
background-size:36px 52px;
}

#container .jwdisplay:hover #container_display_button_play {
}

#container_display .jwpreview {
opacity:1;
visibility:visible;
background-image:url(http://content.bitsontherun.com/thumbs/3XnJSIm4-480.jpg);
}

#container .jwdisplay .jwtext {
font-style:normal;
font-variant:normal;
font-weight:normal;
font-stretch:normal;
font-size:11px;
line-height:14px;
font-family:Arial, Helvetica, sans-serif;
color:rgb(255,255,255);
}

#container .jwdisplay:hover .jwtext {
color:rgb(255,255,255);
}