.jwdock {
	position: relative;
	right: @ui-margin;
	top: @ui-margin;
	left: @ui-margin;
	opacity:1;
	display:block;
	-webkit-transition:background .25s opacity .25s;
	transition:background .25s opacity .25s;
}

.jwdock > * {
	height:100%;
	float:left;
}

.jwdock > .jwoverlay {
	height:auto;
	float:none;
	z-index:99;
}

.jwdockbuttons {
	height: 2em;
}

.jwdockbuttons div.button {
	position:relative;
	width: 2.5em;
	height: 2em;
	background: @def-transparent-background-style;
	background-size: @def-background-size;
	border-radius: @ui-corner-round;
}

.jwdockbuttons div.button:hover {
	background: @def-background-style;
}

.jwdockbuttons > * {
height:100%;
float:left;
}

.jwdockbuttons .divider {
	width: @ui-margin;
	display:none;
}

.jwdockbuttons div.button ~ .divider {
	display:block;
}


.jwdock .button:hover .jwoverlay {
	display: block;
}

.jwdock .button .jwoverlay {
	background: @def-background-style;
	background-size: @def-background-size;
	border-radius: @ui-corner-round;
	display: none;
	-webkit-transition:opacity .25s;
	transition:opacity .25s;
	position: absolute;
	top: 2em;
	width: auto;
	white-space: nowrap;
	padding: 0.5em;
}

.jwdock .button .button-label {
	text-color: @active-color;
}

.jwdockbuttons div.button div {
	-webkit-transition:opacity .25s;
	transition:opacity .25s;
}