@import "vars.less";


.jwplayer .jw-slider {
	.rail, .buffer, .progress, .thumb {
		position:absolute;
		cursor:pointer;
		border-radius: 0.5em;
	}

	.rail, .buffer {
		border-radius: 0.5em;
	}

	.progress {
		background-color: @progress-color;
	}

	.buffer {
		background-color: @buffer-color;
	}

	.rail {
		background-color: @rail-color;
	}

	.jw-cue, .jwicon.jwthumb button {	
		position: absolute;
		cursor:pointer;
		z-index:1;
		font-size: @volume-rail-width;
		height: @volume-rail-width;
		width: @volume-rail-width;
	}

	.jw-cue {
		font-size: 0.5em;
	}
}

.jwplayer .jw-slider.jw-hori {
	width: @volume-rail-length;
	height: @volume-rail-width;
	top: @def-rail-width-padding;

	.rail, .buffer, .progress, .thumb {
		width: 100%;
	}

	.progress {
		border-top-left-radius: 0.5em;
		border-top-right-radius: 0;
		border-bottom-left-radius: 0.5em;
		border-bottom-right-radius: 0;
	}

	.jw-rail-group, .rail, .progress {
		width: 100%;
	}

	.jwthumb button {
		margin-left: -0.5em;
	}
}

.jwplayer .jw-slider.jw-vert {
	height: @volume-rail-length;
	width: @def-rail-width;

	.rail, .buffer, .progress, .thumb {
		height: 100%;
		bottom: 0;
	}

	.progress {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-bottom-left-radius: 0.5em;
		border-bottom-right-radius: 0.5em;
	}

	.jw-rail-group, .rail, .progress {
		width: @volume-rail-width;
		height: 100%;
		bottom: 0;
	}

	.jwthumb button {
		margin-top: -0.5em;
	}
}

.jwplayer .jwtime.jw-slider.jw-hori {
	left:0;
	right:0;
	width: 100%;
}

#container_controlbar .jw-slider.jwvolume button {
	font-size: @volume-rail-width;
	color: #0f0;
}

.jw-slider.jw-vert button {
	margin-bottom: 1em;
}

.jw-slider.jw-hori button {
	margin-right: 1em;
}
