@import "vars.less";

.jwplayer .tooltip-icon:hover .jw-overlay, .jwplayer .tooltip-icon.open .jw-overlay {
	opacity: 1;
	visibility: visible;
}


.jw-controlbar {
	.jw-menu .jw-option {
		position:relative;
		white-space:nowrap;
		cursor:pointer;
	}

	.jw-overlay {
		position:absolute;
		bottom: 2em;
		padding: 0.25em 0.5em;
		background: @def-background-style;
		background-size: @def-background-size;
		border-radius: 0.25em;
		opacity:0;
		filter: @def-ie8-background-filter;
		visibility:hidden;
		-webkit-transition:opacity .25s visibility .25s;
		transition:opacity .25s visibility .25s;
	}

	.jw-overlay .jw-contents {
		position:relative;
		z-index:1;
	}

	.jw-overlay .jw-option {
		height: 1.5em;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 0.75em;
		line-height: 1.5em;
		color: @inactive-color;
	}

	.jw-overlay .jw-option:hover, .jw-overlay .jw-option.jw-active {
		color: @hover-color;
	}

	.jw-overlay .jw-option:before {
		padding-right: 0.25em;
		content: "\ea56";
	}

	.jw-overlay .jw-option.jw-active:before {
		content: "\ea55";
	}
}