@import "vars.less";

.jwplayer .tooltip-icon:hover .jwoverlay, .jwplayer .tooltip-icon.open .jwoverlay {
	opacity: 1;
	visibility: visible;
}


.jwcontrolbar {
	.jwmenu .jwoption {
		cursor:pointer;
		white-space:nowrap;
		position:relative;
	}

	.jwoverlay {
		position:absolute;
		visibility:hidden;
		opacity:0;
		-webkit-transition:opacity .25s visibility .25s;
		transition:opacity .25s visibility .25s;

		bottom: 2em;
		background: @def-background-style;
		background-size: @def-background-size;
		padding:0.25em;
		border-radius: 0.25em;
	}

	.jwoverlay .jwcontents {
		position:relative;
		z-index:1;
	}

	.jwoverlay .jwborder {
		position:absolute!important;
	}

	.jwoverlay .jwoption {
		height: 1.25em;
		color: @inactive-color;
		font-size: 0.75em;
		font-family: Arial, Helvetica, sans-serif;
		line-height: 1.25em;
	}

	.jwoverlay .jwoption:hover {
		color: @hover-color;
	}

	.jwoverlay .jwoption.active {
		color: @active-color;
	}

	.jwoverlay .jwoption:before {
		content: "\ea56";
		padding-right: 0.25em;
	}

	.jwoverlay .jwoption.active:before {
		content: "\ea55";
	}
}