@default-em-size: 16px;

@active-color: #eee;
@inactive-color: #999;
@hover-color: @active-color;

@text-transform: normal;
@font-weight: normal;
@font-size: 1em;
@ui-margin: 1.5em;
@max-width: 600px;

@font-color: @active-color;
@def-background-style: rgba(128,0,128, 0.9);

@controlbar-height: 2em;
@progress-color: @active-color;
@buffer-color: @inactive-color;
@rail-color: #666;

@time-rail-width: 1em;
@volume-rail-width: 1em;
