@import "vars";
@import "icons";

.jw-autostart-mute {
  .jw-icon-volume;
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
  height: @mobile-touch-target;
  width: @mobile-touch-target;
  text-align: center;
  &::before {
    background-color: @background-color;
    padding: 5px 4px 5px 6px;
  }
}

.jw-flag-autostart {
  .jw-controlbar {
    display: none;
  }
}