@import "mixins";
@import "vars";

.jw-breakpoint-0,
.jw-breakpoint-1 {

  .jw-controlbar {

    .jw-icon-playback,
    .jw-icon-rewind,
    .jw-icon-next,
    .jw-icon-hd {
      display: none;
    }

  }

  .jw-controlbar-left-group,
  .jw-controlbar-right-group {

    .jw-icon {
      font-size: @mobile-touch-target / 2;
      padding-bottom: 7px;
    }

  }

  .jw-icon-volume .jw-overlay {
    display: none;
  }

}
