.jwplayer .jw-logo {
    position: absolute;
    margin-bottom: 0;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    pointer-events: all;
    top: 0.5em;
    right: 0.5em;

    &.jw-logo--visible {
        visibility: visible;
        opacity: 1;
    }
}