@import "vars";

.jw-playlist-container {
    left: -51%;
    ::-webkit-scrollbar-track {
        background-color: @inactive-color;
    }

    ::-webkit-scrollbar {
        width: 5px;
        border: 0;
    }

    ::-webkit-scrollbar-thumb {
        background-color: @active-color;
        border-radius: 5px;
    }
}

.jw-tooltip-title {
    border-bottom: 1px solid @inactive-color;
    text-align: left;
    padding-left: @ui-padding;
}

.jw-playlist {
    max-height: 11em;
    min-height: 4.5em;
    overflow-x: hidden;
    overflow-y: scroll;
    width: ~"calc(100% - 2px)";

    .jw-option {
        height: 3em;
        color: white;
        padding-left: 1em;
        font-size: 0.75em;
    }

    .jw-label, .jw-name {
        display: inline-block;
        line-height: 3em;
        text-align: left;
        overflow: hidden; // required for vertical alignment
        white-space: nowrap;
    }
    
    .jw-label {
        width : 1em;
    }

    .jw-name {
        width : 11em;
    }
}
