@import "vars";

.jw-slider-container {
    height: 1em; // For easy grabbability - does not affect positioning of slider itself
    width: 100%;
    position: relative;
    touch-action: none;
}

.jw-rail,
.jw-buffer,
.jw-progress {
    position: absolute;
    cursor: pointer;
}

.jw-progress {
    background-color: @progress-color;
}

.jw-rail {
    background-color: @rail-color;
}

.jw-buffer {
    background-color: @buffer-color;
}

.jw-cue,
.jw-knob {
    position: absolute;
    cursor: pointer;
}

.jw-cue {
    height: @rail-height;
    background-color: rgba(33,33,33,.9);
    border-radius:25%;
    width: @ui-padding;
}

.jw-knob {
    background-color: @active-color;
    width: @thumb-size;
    height: @thumb-size;
    border-radius: @ui-corner-round;
}

.jw-slider-horizontal {
    height: @slider-height;

    &.jw-slider-volume {
        width: @volume-rail-length;
    }

    .jw-rail {
        width: 100%;
    }

    .jw-knob {
        top: (@rail-height - @thumb-size) / 2;
        margin-left: @thumb-size / -2;
    }

    .jw-rail,
    .jw-buffer,
    .jw-progress {
        height: @rail-height;
    }
}

.jw-slider-vertical {
    padding: (@volume-padding / 1.5) @volume-padding;
    position: absolute;

    .jw-rail,
    .jw-buffer,
    .jw-progress {
        bottom: 0;
        height: 100%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .jw-slider-container,
    .jw-rail,
    .jw-progress {
        width: @def-rail-width;
    }

    .jw-slider-container {
        height: @volume-rail-length;
    }

    .jw-knob {
        right: 0;
        left: (@def-rail-width - @thumb-size) / 2;
        margin-bottom: @thumb-size/-2;
    }
}

.jw-slider-time {
    width: 100%;
}

.jw-tooltip-time {
    position: absolute;
}

.jw-slider-volume {
    .jw-buffer {
        display: none;
    }
}


.jw-breakpoint-0,
.jw-breakpoint-1,
.jw-flag-time-slider-fixed {

  .jw-slider-horizontal {
    background: none;
    background-color: transparent;
    height: @slider-fixed-height;

    .jw-slider-container {
      height: @slider-fixed-height;
    }

    .jw-rail,
    .jw-buffer,
    .jw-progress {
      height: @slider-fixed-rail-height;
    }

    .jw-progress {
      background-color: @fixed-time-slider-progress-color;
    }

    .jw-rail {
      background: none;
      background-color: fade(white, 25%);
    }

    .jw-buffer {
      background: none;
      background-color: fade(white, 50%);
    }

    .jw-knob {
      background-color: #fff;
      border-radius: @slider-fixed-knob-border-radius;
      box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
      display: block;
      height: @slider-fixed-knob-height;
      margin-left: @slider-fixed-knob-width / -2;
      top: auto;
      width: @slider-fixed-knob-width;
    }
  }

  .jw-controlbar-center-group {
    .jw-slider-container {
      align-items: center;
      display: flex;
    }
  }

  .jw-tooltip-time {
    bottom: @slider-fixed-height + 5px;
    height: auto;
    line-height: normal;
    padding: 0;
    pointer-events: none;
    transform: translateX(-50%);
    .jw-overlay {
      bottom: auto;
      left: auto;
      position: static;
    }
    .jw-time-tip {
      border-radius: @ui-corner-round;
      left: auto;
      padding: 1px 5px;
      position: static;
    }
    .jw-text {
      height: auto;
    }
  }

  // very large player
  &.jw-breakpoint-7 {

    .jw-tooltip-time {
      bottom: @mobile-touch-target + 5px;
      .jw-time-tip {
        padding: 4px 6px;
      }
      .jw-text {
        font-size: 1.25em;
      }
    }

    .jw-slider-horizontal {
      height: @mobile-touch-target;
      .jw-slider-container {
        height: @mobile-touch-target;
      }
    }

  }


}
