{
    "root": true,
    "env": {
        "browser": true,
        "es6": true,
        "commonjs": true
    },
    "globals": {
        "__webpack_public_path__": false,
        "__FLASH_VERSION__": false,
        "__REPO__": false,
        "__SELF_HOSTED__": false,
        "__DEBUG__": false,
        "__BUILD_VERSION__": false,
        "__HEADLESS__": false
    },
    "parserOptions": {
        "sourceType": "module"
    },
    "extends": "eslint:recommended",
    "plugins": [
        "no-for-of-loops",
        "no-unsanitized"
    ],
    "rules": {
        "valid-jsdoc": 2,
        "no-restricted-globals": [
            "error",
            {
                "name": "VTTCue",
                "message": "import VTTCue from 'os/parsers/captions/vttcue'"
            }
        ],
        "no-restricted-properties": [2,
            { "property": "findIndex" },  // Intended to block usage of Array.prototype.findIndex
            { "property": "find" }        // Intended to block usage of Array.prototype.find
        ],
        "no-for-of-loops/no-for-of-loops": 2,
        "no-unsanitized/method": 2,
        "no-unsanitized/property": 2,
        "comma-dangle": 0,
        "no-cond-assign": 2,
        "no-console": ["warn", { "allow": ["warn", "error"] }],
        "no-constant-condition": 2,
        "no-control-regex": 2,
        "no-debugger": 2,
        "no-dupe-args": 2,
        "no-dupe-keys": 2,
        "no-duplicate-case": 2,
        "no-empty": 2,
        "no-empty-character-class": 2,
        "no-ex-assign": 2,
        "no-extra-boolean-cast": 2,
        "no-extra-parens": 0,
        "no-extra-semi": 2,
        "no-func-assign": 2,
        "no-inner-declarations": 2,
        "no-invalid-regexp": 2,
        "no-irregular-whitespace": 2,
        "no-negated-in-lhs": 2,
        "no-obj-calls": 2,
        "no-regex-spaces": 2,
        "no-sparse-arrays": 2,
        "no-unreachable": 2,
        "use-isnan": 2,
        "valid-typeof": 2,
        "block-scoped-var": 0,
        "complexity": 0,
        "consistent-return": 0,
        "curly": 2,
        "default-case": 2,
        "dot-notation": 2,
        "eqeqeq": 2,
        "guard-for-in": 2,
        "no-alert": 2,
        "no-caller": 2,
        "no-div-regex": 2,
        "no-else-return": 2,
        "no-eq-null": 2,
        "no-eval": 2,
        "no-extend-native": 2,
        "no-extra-bind": 2,
        "no-fallthrough": 2,
        "no-floating-decimal": 2,
        "no-implied-eval": 2,
        "no-iterator": 2,
        "no-labels": 2,
        "no-lone-blocks": 2,
        "no-loop-func": 2,
        "no-multi-spaces": 2,
        "no-multi-str": 2,
        "no-native-reassign": 2,
        "no-new": 2,
        "no-new-func": 2,
        "no-new-wrappers": 2,
        "no-octal": 2,
        "no-octal-escape": 2,
        "no-param-reassign": 0,
        "no-process-env": 2,
        "no-proto": 2,
        "no-redeclare": 2,
        "no-return-assign": 2,
        "no-script-url": 2,
        "no-self-compare": 2,
        "no-sequences": 2,
        "no-throw-literal": 2,
        "no-unused-expressions": 1,
        "no-var": 2,
        "no-void": 2,
        "no-warning-comments": [0, {"terms": ["todo", "fixme"], "location": "start"}],
        "no-with": 2,
        "wrap-iife": 2,
        "yoda": 2,
        "strict": 0,
        "no-catch-shadow": 2,
        "no-delete-var": 2,
        "no-label-var": 2,
        "no-shadow": 2,
        "no-shadow-restricted-names": 2,
        "no-undef": 2,
        "no-undef-init": 2,
        "no-unused-vars": 2,
        "no-use-before-define": 0,
        "indent": [1, 4, {"SwitchCase":1}],
        "brace-style": 1,
        "camelcase": 1,
        "comma-spacing": [2, {"before": false, "after": true}],
        "comma-style": [1, "last"],
        "consistent-this": [0, "_this"],
        "eol-last": 1,
        "func-names": 0,
        "func-style": 0,
        "key-spacing": [1, {"beforeColon": false, "afterColon": true}],
        "max-nested-callbacks": [1, 3],
        "new-cap": [1, {"newIsCap": true, "capIsNew": false}],
        "new-parens": 1,
        "newline-after-var": 0,
        "no-array-constructor": 1,
        "no-inline-comments": 0,
        "no-lonely-if": 1,
        "no-mixed-spaces-and-tabs": 1,
        "no-multiple-empty-lines": [1, {"max": 2}],
        "no-nested-ternary": 1,
        "no-new-object": 1,
        "no-spaced-func": 1,
        "no-ternary": 0,
        "no-trailing-spaces": 0,
        "no-underscore-dangle": 0,
        "one-var": [2, "never"],
        "operator-assignment": [0, "never"],
        "quote-props": [1, "as-needed", {"keywords": true}],
        "quotes": [1, "single", {"allowTemplateLiterals": true}],
        "semi": [2, "always"],
        "semi-spacing": [1, {"before": false, "after": true}],
        "sort-vars": 0,
        "space-before-blocks": [1, "always"],
        "space-before-function-paren": [0, {"anonymous": "always", "named": "never"}],
        "space-in-parens": [1, "never"],
        "space-infix-ops": 1,
        "space-unary-ops": [1, {"words": true, "nonwords": false}],
        "spaced-comment": [1, "always"],
        "wrap-regex": 0,
        "generator-star-spacing": [2, "before"],
        "max-depth": [2, 5],
        "max-params": 0,
        "max-statements": 0,
        "object-curly-spacing": ["error", "always"],
        "keyword-spacing": 2
    },
    "overrides": [
        {
            "files": ["src/js/**/*.ts"],
            "env": {
                "browser": true,
                "es6": true,
                "commonjs": true
            },
            "parser": "@typescript-eslint/parser",
            "parserOptions":{
                "sourceType": "module",
                "project": "./tsconfig.json"
            },
            "plugins": [
                "@typescript-eslint",
                "@typescript-eslint/tslint"
            ],
            "rules": {
                "@typescript-eslint/tslint/config": [2, {
                    "rules": {
                        "typedef": [
                            true,
                            "call-signature",
                            "parameter"
                        ]
                    }
                }],
                "@typescript-eslint/no-explicit-any": 0,
                "@typescript-eslint/adjacent-overload-signatures": "error",
                "@typescript-eslint/ban-ts-ignore": "error",
                "@typescript-eslint/ban-types": "error",
                "@typescript-eslint/class-name-casing": "error",
                "@typescript-eslint/consistent-type-assertions": "error",
                "@typescript-eslint/interface-name-prefix": "error",
                "@typescript-eslint/member-delimiter-style": "error",
                "@typescript-eslint/no-empty-function": "error",
                "@typescript-eslint/no-empty-interface": "error",
                "@typescript-eslint/no-inferrable-types": "error",
                "@typescript-eslint/no-misused-new": "error",
                "@typescript-eslint/no-namespace": "error",
                "@typescript-eslint/no-non-null-assertion": "warn",
                "@typescript-eslint/no-this-alias": "warn",
                "@typescript-eslint/no-var-requires": "error",
                "@typescript-eslint/no-unused-vars": "error",
                "@typescript-eslint/prefer-namespace-keyword": "error",
                "@typescript-eslint/triple-slash-reference": "error",
                "@typescript-eslint/type-annotation-spacing": "error",
                "prefer-rest-params": "error",
                "prefer-spread": "error",
                "no-unused-vars": 0
            }
        }
    ]
}
