<div class="jw-dock jw-reset">
    {{#each this}}
    <div class="jw-dock-button jw-background-color jw-reset{{#if btnClass}} {{btnClass}}{{/if}}" button="{{id}}">
        <div class="jw-icon jw-dock-image jw-reset" {{#if img}}style='background-image: url("{{img}}")'{{/if}}></div>
        <div class="jw-arrow jw-reset"></div>
        {{#if tooltip}}
        <div class="jw-overlay jw-background-color jw-reset">
            <span class="jw-text jw-dock-text jw-reset">{{tooltip}}</span>
        </div>
        {{/if}}
    </div>
    {{/each}}
</div>