<div class="jw-menu jw-playlist-container jw-background-color jw-reset">

    <div class="jw-tooltip-title jw-reset">
        <span class="jw-icon jw-icon-inline jw-icon-playlist jw-reset"></span>
        <span class="jw-text jw-reset">PLAYLIST</span>
        {{!--
        This is a comment block
        <span class="jw-icon jw-icon-inline jw-icon-close jw-reset" style="float:right"></span>
        --}}
    </div>

    <ul class="jw-playlist jw-reset">
        {{#each this}}
            {{#if this.active}}
                <li class='jw-option jw-text jw-active-option jw-item-{{@index}} jw-reset'>
                    <span class="jw-label jw-reset"><span class="jw-icon jw-icon-play jw-reset"></span></span>
                    <span class="jw-name jw-reset">{{this.title}}</span>
                </li>
            {{else}}
                <li class='jw-option jw-text jw-item-{{@index}} jw-reset'>
                    <span class="jw-label jw-reset">{{this.label}}</span>
                    <span class="jw-name jw-reset">{{this.title}}</span>
                </li>
            {{/if}}
        {{/each}}
    </ul>
</div>