@import "../imports/vars";

.jwplayer.jw-flag-casting {

  .jw-cast {
    display: block;
  }

  &.jw-flag-airplay-casting .jw-display-icon-container {
    display: none;
  }

  .jw-icon-cc, .jw-icon-audio-tracks, .jw-icon-hd, .jw-icon-fullscreen {
    display: none;
  }

  &.jw-flag-airplay-casting {
    .jw-icon-volume {
      display: none;
    }

    .jw-icon-airplay {
      color: @active-color;
    }
  }

}

.jwplayer.jw-state-playing.jw-flag-casting,
.jwplayer.jw-state-paused.jw-flag-casting {

  .jw-display {
    display: table;
  }

}

