body { padding: 50px 100px; width: 720px; font: 13px/20px Arial; background: #FFF; }
a, h1, h2 { color: #369; }
h1 { font-size: 32px; }
h2 { margin-top: 40px; }
img { display: block; margin: 0 10px; }
pre { font-size: 12px; background: #E5F3C8; padding:5px 10px; border: 1px solid #D3EAA4; }
dt { padding-left: 20px; font-weight: bold; }
dd { color: #333; font-style: italic; }
table { width: 100%; border-collapse: collapse; margin: 20px 0; }
tr { border-bottom: 1px solid #CCC; } 
tr:nth-child(even) { background: #EEE; }
td,th { padding: 5px; font-size: 12px; text-align: left; vertical-align: top; }


div.core, div.all, div.flash { height: 15px; width: 100%; text-indent: 600px; font-size: 11px; line-height: 12px; color:#fff; }
div.core { background: url(core.jpg) no-repeat top left;  }
div.all { background: url(all.jpg) no-repeat top left; }
div.flash { background: url(flash.jpg) no-repeat top left; }

form { margin: 25px 0; padding: 10px; background: #eee; } 
td.both, td.desktop, td.mobile { width: 50px; }
td.both { background: url(both.png) no-repeat 5px 7px; }
td.desktop { background: url(desktop.png) no-repeat 5px 7px; }
td.mobile { background: url(mobile.png) no-repeat 5px 7px; }
td.check { background: url(works.png) no-repeat 5px 10px; }