.jw-preview {
    overflow: hidden;

    .jw-ab-zoom-thumbnail {
        all: inherit;
        animation: jw-ab-zoom-thumbnail-animation 10s infinite;
    }
}

@keyframes jw-ab-zoom-thumbnail-animation {
    0% {
        transform: scale(1, 1);
    }

    50% {
        transform: scale(1.25, 1.25);
    }

    100% {
        transform: scale(1, 1);
    }
}
