@import "../../shared-imports/mixins";
@import "../../shared-imports/vars";

.jw-controlbar {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0.25) 30%, rgba(0, 0, 0, 0.4) 70%, rgba(0, 0, 0, 0.5) 100%);
    border: none;
    border-radius: 0;
    background-size: auto;
    box-shadow: none;
    max-height: 72px;

    // adjust overlay bottom padding to match height of touch target
    .jw-overlay {
        &:after {
            content: "";
            display: block;
            height: @mobile-touch-target * 0.5;
        }
    }

    .jw-button-image {
        width: 100%;
        height: 100%;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        opacity: 0.75;
    }

    .jw-spacer {
        flex: 1 1 auto;
        align-self: stretch;
    }
}

.jw-button-container {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;

    > .jw-icon:not(.jw-text) {
        font-size: 20px;
        max-width: @mobile-touch-target;

        &:before {
            /* This hack is required to make sure that gradients display correctly */
            /* stylelint-disable-next-line declaration-block-no-shorthand-property-overrides */
            background: transparent none;
            background-size: auto;
            border: none;
            border-radius: 0;
            box-shadow: none;
            height: auto;
            padding: 0;
        }
    }
}

.jw-slider-horizontal {
    background-color: transparent;
}

.jw-icon-inline,
.jw-icon-tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    width: @mobile-touch-target;
    height: @mobile-touch-target;
}

.jw-icon-inline,
.jw-icon-tooltip,
.jw-slider-horizontal,
.jw-text-elapsed,
.jw-text-duration,
.jw-text-countdown {
    cursor: pointer;
}

.jw-icon-tooltip {
    position: relative;
}

.jw-selection-menu {
    padding: 0 @ui-padding / 2;
}

.jw-knob,
.jw-icon-inline,
.jw-icon-tooltip,
.jw-icon-display,
.jw-option:before {
    &:hover {
        color: @hover-color;
    }
}

.jw-time-tip {
    pointer-events: none;
}

.jw-icon-cast {
    display: none;
    margin: 0;
    padding: 0;

    button {
        background-color: transparent;
        border: none;
        font-size: inherit;
        padding: 0;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
}

.jw-slider-volume.jw-slider-horizontal,
.jw-icon-inline.jw-icon-volume {
    display: none;
}

.jwplayer .jw-text-countdown {
    display: none;
}

&.jw-flag-small-player {
    .jw-controlbar .jw-slider-volume.jw-slider-horizontal {
        display: none;
    }

    .jw-display {
        padding-top: @mobile-touch-target;
        padding-bottom: @mobile-touch-target * 1.5;
    }
}

.jw-flag-small-player:not(.jw-flag-audio-player):not(.jw-flag-ads) {
    .jw-controlbar {
        .jw-button-container {
            > .jw-icon-rewind,
            > .jw-icon-next,
            > .jw-icon-playback {
                display: none;
            }
        }
    }
}

.jw-flag-ads-vpaid,
.jw-flag-autostart,
.jw-flag-user-inactive.jw-state-playing,
.jw-flag-user-inactive.jw-state-buffering {
    &:not(.jw-flag-media-audio):not(.jw-flag-audio-player):not(.jw-flag-ads-vpaid-controls):not(.jw-flag-casting) {
        .jw-controlbar {
            visibility: hidden;
            pointer-events: none;
            opacity: 0;
        }
    }
}

.jwplayer&:not(.jw-flag-ads):not(.jw-flag-live) {
    &.jw-breakpoint-0 {
        .jw-text-countdown {
            display: flex;
        }

        .jw-text-elapsed,
        .jw-text-duration {
            display: none;
        }
    }
}

&:not(.jw-breakpoint-0) {
    .jw-text-duration {
        &:before {
            content: "/";
            padding-right: 0.5em;
        }
    }
}
