@import "../../shared-imports/mixins";

.jw-svg-icon {
    .square(24px);
    fill: currentColor;
    pointer-events: none;
}

.jw-icon {
    .rect(24px, 100%);
    background-color: transparent;
}

.jw-icon-airplay {
    .jw-svg-icon-airplay-off {
        display: none;

        .jw-off& {
            display: block;
        }
    }

    .jw-svg-icon-airplay-on {
        display: block;

        .jw-off& {
            display: none;
        }
    }
}

.jw-icon-cc {
    .jw-svg-icon-cc-off {
        display: none;

        .jw-off& {
            display: block;
        }
    }

    .jw-svg-icon-cc-on {
        display: block;

        .jw-off& {
            display: none;
        }
    }
}

.jw-icon-fullscreen {
    .jw-svg-icon-fullscreen-off {
        display: none;

        .jw-off& {
            display: block;
        }
    }

    .jw-svg-icon-fullscreen-on {
        display: block;

        .jw-off& {
            display: none;
        }
    }
}

.jw-icon-volume {
    .jw-svg-icon-volume-0 {
        display: none;

        .jw-off& {
            display: block;
        }
    }

    .jw-svg-icon-volume-100 {
        display: none;

        .jw-full& {
            display: block;
        }
    }

    .jw-svg-icon-volume-50 {
        display: block;

        .jw-off&,
        .jw-full& {
            display: none;
        }
    }
}

.jw-icon-live {
    .jw-svg-icon-dvr,
    .jw-svg-icon-live {
        width: 44px;
    }

    &.jw-dvr-live {
        .jw-svg-icon-dvr {
            display: none;
        }
    }
}
