@import "../../shared-imports/mixins";
@import "icons";

.jw-overlays,
.jw-controls {
    &:extend(._stretch, ._topleft, ._bottomright);
    pointer-events: none; // Allow pointer events through to the provider
}

.jw-overlays {
    cursor: auto;
}

.jw-controls {
    background: svg-gradient(to bottom, transparent, fade(@black, 40%) 77%, fade(@black, 40%) 100%) 100% 100% / 100% 240px no-repeat transparent;
    overflow: hidden;
    transition: opacity 250ms cubic-bezier(0, 0.25, 0.25, 1);
    z-index: 0;

    .jw-state-playing.jw-flag-user-inactive:not(.jw-flag-casting):not(.jw-flag-ads):not(.jw-flag-audio-player) & {
        opacity: 0;
    }

    .jw-flag-small-player & {
        text-align: center;
    }
}

.jw-text {
    height: 1em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: @font-size;
    font-style: normal;
    font-weight: normal;
    color: @white;
    text-align: center;
    font-variant: normal;
    font-stretch: normal;
}

/* These items can intercept pointer-events */
.jw-controlbar,
.jw-skip,
.jw-display-icon-container,
.jw-display-icon-container .jw-icon,
.jw-nextup-container,
.jw-autostart-mute,
.jw-overlays .jw-plugin {
    pointer-events: all;
}
