//  Import added so this file can be used in unit testing.
@import "../../shared-imports/mixins.less";

.jwplayer .jw-shortcuts-tooltip {
    @rightclick-primary-text: #fefefe;
    @rightclick-secondary-text: #333;
    @rightclick-bg: #333;

    .topleft(50%, 50%);
    background: var(--jw-menu-background-color);
    color: var(--jw-active-color);
    display: none;
    flex-direction: column;
    overflow: hidden;
    pointer-events: all;
    transform: translate(-50%, -50%);
    user-select: text;

    &.jw-open {
        display: flex;
    }

    .jw-shortcuts-close {
        flex: 0 0 auto;
        margin: 5px 5px 5px auto;

        &:focus {
            border: none;
            outline: none;
        }
    }

    .jw-shortcuts-container {
        .scrollbar-style();
        display: flex;
        flex: 1 1 auto;
        flex-flow: column;
        margin: 0 20px 20px;
        overflow-y: auto;
        padding: 5px;
    }

    .jw-shortcuts-title {
        font-size: 12px;
        font-weight: bold;
    }

    .jw-shortcuts-tooltip-list {
        display: flex;
        max-width: 340px;

        .jw-shortcuts-tooltip-descriptions {
            list-style: none;
            padding-left: 0;
            font-size: 12px;
            margin-right: 20px;
            margin-left: 10px;
            padding-top: 5px;
        }

        .jw-shortcuts-tooltip-keys {
            list-style: none;
            font-size: 12px;
            padding-top: 5px;

            .jw-hotkey {
                color: var(--jw-rightclick-secondary-text);
                background: var(--jw-rightclick-secondary-background);
                padding: 7px 10px;
            }
        }

        .jw-shortcuts-tooltip-keys,
        .jw-shortcuts-tooltip-descriptions {
            div {
                line-height: 34px;
            }
        }
    }
}
