@import "../../shared-imports/vars";

.jw-slider-container {
    display: flex;
    height: 1em;
    align-items: center;
    width: 100%;
    position: relative;
    touch-action: none;
}

.jw-rail,
.jw-buffer,
.jw-progress {
    position: absolute;
    cursor: pointer;
}

.jw-progress {
    background-color: @progress-color;
}

.jw-rail {
    background-color: @rail-color;
}

.jw-buffer {
    background-color: @buffer-color;
}

.jw-cue {
    position: relative;
    cursor: pointer;
    height: @rail-height;
    width: @ui-padding;
    background-color: rgba(33, 33, 33, 0.9);
    border-radius: 25%;
}

.jw-knob {
    position: absolute;
    pointer-events: none;
    width: @thumb-size;
    height: @thumb-size;
    border-radius: @ui-corner-round;
}

.jw-slider-horizontal {
    display: flex;

    &.jw-slider-volume {
        width: @volume-rail-length;
    }

    .jw-rail {
        width: 100%;
    }

    .jw-rail,
    .jw-buffer,
    .jw-progress,
    .jw-knob {
        top: 50%;
        transform: translate(0, -50%);
    }

    .jw-rail,
    .jw-buffer,
    .jw-progress {
        height: @rail-height;
    }

    .jw-knob {
        margin-left: (-@thumb-size / 2);
    }
}

.jw-slider-vertical {
    padding: 0.5em;

    .jw-slider-container {
        height: @volume-rail-length;
        flex-direction: column;
        align-items: flex-start;
    }

    .jw-rail,
    .jw-buffer,
    .jw-progress {
        bottom: 0;
        height: 100%;
    }

    .jw-slider-container,
    .jw-rail,
    .jw-progress {
        width: @def-rail-width;
    }

    .jw-knob {
        left: -50%;
        margin-bottom: (-@thumb-size / 2);
    }
}

.jw-slider-time {
    width: 100%;
    background: transparent none;
    padding: 0 12px;

    .jw-rail,
    .jw-buffer,
    .jw-progress {
        height: @slider-fixed-rail-height;
    }

    .jw-rail {
        background-color: fade(#fff, 25%);
    }

    .jw-buffer {
        background-color: fade(#fff, 50%);
    }

    .jw-knob {
        background: #fff none;
        border-radius: @slider-fixed-knob-border-radius;
        box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
        opacity: 1;
        height: @slider-fixed-knob-height;
        width: @slider-fixed-knob-width;
    }
}

.jw-tooltip-time {
    position: absolute;
}

.jw-slider-volume {
    .jw-buffer {
        display: none;
    }
}
