.jw-whoament-graph {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 0 60px;
  align-items: flex-end;

  .jw-whoament-graph-bar {
    background-color: red;
    opacity: 0.75;
    width: 100%;
    margin: 1px;
  }
}