.jwplayer.jw-state-idle {
    .jw-display {
        display: block;

        .jw-preview {
            display: block;
        }
    }

    .jw-icon-display {
        .jwplayer .jw-icon-play;
    }

    .jw-controlbar--left-group .jw-playback-toggle-icon {
        .jwplayer .jw-icon-play;
    }

    .jw-captions {
        display: none;
    }
}
