@import "imports/vars.less";

@import "imports/reset.less";
@import "imports/icons.less";

@import "imports/display.less";
@import "imports/controlbar.less";
@import "imports/dock.less";
@import "imports/tooltip.less";
@import "imports/slider.less";
@import "imports/errorscreen.less";
@import "imports/captions.less";
@import "imports/rightclick.less";

@import "states/idle.less";
@import "states/playing.less";
@import "states/paused.less";
@import "states/buffering.less";
@import "states/complete.less";

.jwplayer {
    width: 100%;
    font-size: @default-em-size;
    position: relative;
    display: block;
    min-height: 0;
    overflow: hidden;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000;

    * {
        box-sizing: inherit;
    }

    .jw-controls {
        pointer-events: none;

        .jw-dock-button, .jw-controlbar, .jw-skip, .jw-display-icon-container, .jw-preview, .jw-logo {
            pointer-events: all;
        }
    }

    .jw-text {
        height: 1em;
        font-family: inherit;
        font-size: @font-size;
        font-style: normal;
        font-weight: normal;
        line-height: 1em;
        color: @font-color;
        text-align: center;
        font-variant: normal;
        font-stretch: normal;
    }

    // FULLSCREEN START
    &.jw-fullscreen {
        position: fixed !important;
        top: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
        z-index: 1000 !important;
        width: 100% !important;
        height: 100% !important;
        margin: 0 !important;
    }

    &.jw-fullscreen.jw-user-inactive {
        cursor: none;
    }

    &.jw-user-inactive .jw-controls {
        pointer-events: all;
    }

    &.jw-fullscreen .jw-main {
        top: 0 !important;
        right: 0 !important;
        bottom: 0 !important;
        left: 0 !important;
    }
    // FULLSCREEN END

    /// Scale modes START
    .jw-uniform {
        background-size: contain !important;
    }

    .jw-fill {
        background-position: 50% 50%;
        background-size: cover !important;
    }

    .jw-exact-fit {
        background-size: 100% 100% !important;
    }
    /// Scale modes END

    .jw-cast-screen {
        width: 100%;
        height: 100%;
    }
}

.jw-skip {
    position: absolute;
    right: 1em;
    display: inline-block;
    float: right;
    width: 7em;
    height: 2em;
}

.jw-skip-image {
    position: relative;
    display: none;
}

.jw-logo {
    position: absolute;
    top: 8px;
    right: 8px;
    margin-bottom: 0;
    cursor: pointer;
}

.jw-main {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.jw-video, .jw-controls {
    position: absolute;
    width: 100%;
    height: 100%;
}

.jw-video video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background: transparent;
}

.jw-instream {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}

.jw-aspect {
    display: none;
}


// Aspect Ratio styles
.jwplayer:before{
    content: "";
    display: block;
    padding-top: 56.25%; // 16:9 Ratio (9/16)
}

.jwplayer .jw-main {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.jwplayer.jw-aspect-mode {
    height: auto;
}

