@import "imports/vars.less";

@import "imports/reset.less";
@import "imports/icons.less";

@import "imports/view.less";
@import "imports/display.less";
@import "imports/controlbar.less";
@import "imports/dock.less";
@import "imports/tooltip.less";
@import "imports/title.less";
@import "imports/slider.less";
@import "imports/errorscreen.less";
@import "imports/captions.less";
@import "imports/rightclick.less";
@import "imports/logo.less";

@import "states/idle.less";
@import "states/playing.less";
@import "states/paused.less";
@import "states/buffering.less";
@import "states/complete.less";

.jwplayer {
    .jw-controls {
        pointer-events: none;

        .jw-dock-button, .jw-controlbar, .jw-skip, .jw-display-icon-container, .jw-preview, .jw-logo {
            pointer-events: all;
        }
    }

    .jw-text {
        height: 1em;
        font-family: inherit;
        font-size: @font-size;
        font-style: normal;
        font-weight: normal;
        line-height: 1em;
        color: @font-color;
        text-align: center;
        font-variant: normal;
        font-stretch: normal;
    }

    .jw-cast-screen {
        width: 100%;
        height: 100%;
    }
}

.jw-skip {
    position: absolute;
    right: 1em;
    display: inline-block;
    float: right;
    width: 7em;
    height: 2em;
}

.jw-skip-image {
    position: relative;
    display: none;
}

.jw-instream {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}
