.jw-container {
    background-color: #000;
    background-size: cover;

    &.jw-flag-header {
        margin-top: 2em;
    }
}

.jw-float-close {
    display: none;
}

.jw-flag-floating {
    margin: 20px;
    overflow: visible;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1;
    margin-top: 2em;

    .jw-float-close {
        position: absolute;
        width: 100%;
        text-align: right;
        top: -2em;
        display: block;

        .jw-icon {
            cursor: pointer;
            pointer-events: all;
            opacity: 0.8;
        }
    }
}
