.jw-skin-five {
	@active-color: #000;
    @inactive-color: #464646;
   	@hover-color: @active-color;
    
    @controlbar-background: #eee;
    @controlbar-height: 2em;
	@controlbar-icon-size: 1em;
	@progress-color: @active-color;
    @buffer-color: #9c9a9d;
    @rail-color: #b8b6b7;
    @thumb-color: @progress-color;

    @display-icon-color: @controlbar-background;
    @display-icon-hover-color: #fff;
    @display-bkgd-color: rgba(51, 51, 51, 0.7);
    @display-bkgd-hover-color: #333;

    @rail-vert-gradient: linear-gradient(to bottom, #fff 0, #fff 30%, #333 100%);

    #namespace > .basic-skin-styles(); // Using the above local variables
	.skin-element-padding();

	// Additional custom styles
	.jw-controlbar {
		opacity: 0.8;
	}

	.jw-slider-horizontal {

		.jw-rail,
		.jw-buffer,
		.jw-progress {
			height: .3em;
			border-radius: 0;
		}

		.jw-rail {
			box-shadow: none;
		}

		.jw-thumb {
            .centered-vert-thumb(.3em, 1em);
  			margin: 0;

			&:after {
				background-color: #000;
				border-radius: 0;
				width: 1px;
				height: 1em;
			}
		}

		.jw-cue {

			&:after {
				width: .2em;
				height: .4em;
				background-color: #fff;
			}
		}
	}

	.jw-slider-vertical {
		.jw-rail,
		.jw-progress {
			width: .2em;
		}

		.jw-progress {
			background: #fff;
		}

		.jw-rail {
			background: #737373;
		}

		.jw-thumb {

			&:after {
				background: @rail-vert-gradient;
				border-radius: 0;
				height: 2px;
			}
		}
	}
}

