@import "../imports/vars";
@import "../imports/mixins";

.jw-skin-glow {
    @active-color: #fff;
    @inactive-color: #fff;
    @hover-color: @active-color;
    @progress-color: #fff;
    @buffer-color: #3B3D41;
    @rail-color: #2A2C2E;
    @controlbar-background: #131415;

    @cc-inactive: @buffer-color;
    @cc-active: @active-color;

    @rail-height: .4em;
    @cue-size: .25em;

    #namespace > .basic-skin-styles(); // Using the above local variables
    .skin-element-padding();

    .jw-controlbar {
        opacity: 0.8;
    }

    .jw-rail,
    .jw-buffer,
    .jw-progress {
        border-radius: @ui-corner-round;
    }

    .jw-thumb {
        display: none;
    }
    
    .jw-slider-horizontal {
        .jw-cue {
            .vertically-centered-rail-element(@rail-height, @cue-size);

            &:after {
                background-color: #000;
                width: @cue-size;
                height: @cue-size;
                border-radius: 1em;
            }
        }
    }

    .jw-slider-vertical {
        bottom: 5px;

        .jw-rail,
        .jw-progress {
            width: .4em;
        }
    }

    .jw-time-tip,
    .jw-volume-tip,
    .jw-menu {
        border-radius: @ui-padding;
    }

    .jw-volume-tip,
    .jw-menu {
        bottom: .3em;
    }

    .jw-icon-cc {
        color: @cc-active;

        &.jw-off {
            color: @cc-inactive;   

            &:before {
                content: "\e605";
            }        
        }
    }
}
